<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Pattaparla Akash Goud | Portfolio</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>

<div class="logo">
Akash Goud
</div>

<ul>
<li><a href="#home">Home</a></li>
<li><a href="#about">About</a></li>
<li><a href="#skills">Skills</a></li>
<li><a href="#projects">Projects</a></li>
<li><a href="#certifications">Certificates</a></li>
<li><a href="#education">Education</a></li>
<li><a href="#contact">Contact</a></li>
</ul>

</nav>

<section class="hero" id="home">

<h3>Hello, I'm</h3>

<h1>Pattaparla Akash Goud</h1>

<h2>B.Tech CSE Student | AI Enthusiast | Full Stack Developer</h2>

<p>
Anurag University | Completed 2nd Year

<br><br>

Passionate about Full Stack Development,
Problem Solving and Building Innovative Software Solutions.
</p>

<div class="hero-buttons">

<a href="#projects">
<button>View Projects</button>
</a>

<a href="#contact">
<button>Contact Me</button>
</a>

</div>
</section>

<section class="stats">

<div class="stat">
<h2>2+</h2>
<p>AI Projects</p>
</div>

<div class="stat">
<h2>5+</h2>
<p>Certifications</p>
</div>

<div class="stat">
<h2>2nd Year</h2>
<p>Completed</p>
</div>

<div class="stat">
<h2>2028</h2>
<p>Graduation</p>
</div>

</section>

<section id="about">

<h1>About Me</h1>

<p>
Currently pursuing a B.Tech in Computer Science Engineering at Anurag University, I am passionate about software development, programming, and continuous learning. With a strong interest in building innovative solutions and enhancing my technical skills, I enjoy exploring new technologies and applying them to solve real-world challenges. I am committed to personal and professional growth and aspire to contribute meaningfully to the technology industry.

</p>

</section>

<section id="skills">

<h1>Technical Skills</h1>

<div class="cards">

<div class="card">Python</div>
<div class="card">Java</div>
<div class="card">C Programming</div>
<div class="card">HTML</div>
<div class="card">CSS</div>
<div class="card">JavaScript</div>
<div class="card">Flask</div>
<div class="card">SQLite</div>
<div class="card">MongoDB</div>
<div class="card">Git</div>
<div class="card">GitHub</div>
<div class="card">Problem Solving</div>

</div>

</section>

<section id="projects">

<h1>Projects</h1>

<div class="project">

<h2>AI Healthcare Platform</h2>

<p>
Developed an AI-powered healthcare platform capable of assisting
users through intelligent symptom analysis and health recommendations.
</p>

<p>
Technologies: Python, Flask, HTML, CSS, SQLite
</p>

</div>

<div class="project">

<h2>AI Smart Task Manager</h2>

<p>
Built a smart productivity platform that helps users organize tasks,
track progress and improve efficiency through intelligent suggestions.
</p>

<p>
Technologies: Python, Flask, JavaScript, SQLite
</p>

</div>

</section>

<section id="certifications">

<h1>Certifications</h1>

<div class="cards">

<div class="card">Cisco Python Essentials 1</div>

<div class="card">Cisco Python Essentials 2</div>

<div class="card">NPTEL Programming in Java</div>

<div class="card">NPTEL Fundamentals of Computer Algorithms</div>

<div class="card">Alfido Tech Internship</div>

</div>

</section>

<section id="education">

<h1>Education</h1>

<div class="education">

<h2>Anurag University</h2>

<p>Bachelor of Technology (B.Tech)</p>

<p>Computer Science Engineering</p>

<p>Completed 2nd Year</p>

<p> Graduation: 2028</p>

</div>

</section>

<section id="contact">

<h1>Contact</h1>

<p>LinkedIn: https://www.linkedin.com/in/akash-pattaparla-1a8465412/</p>

<p>GitHub:https://github.com/akashgoud21</p>

</section>

<footer>

<h2>Pattaparla Akash Goud</h2>

<p>AI Enthusiast | Full Stack Developer</p>

<p>© 2026 All Rights Reserved</p>

</footer>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
